*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

.container
{
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    transition: 0.5s;
}

.container .card
{
    position: relative;
    width: 500px;
    min-height: 550px;
    max-height: 550px;
    background: rgb(241, 239, 231);
    margin: 10px;
    overflow: hidden;
}

.container .card .imgBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.container .card .imgBox img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}


.container .card .imgBox .content
{
    display: block;
}

.details{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.user{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
 }

.user img{
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 50%;
}

.user h1 {
    font-size: 18px;
    text-transform:capitalize;
}

.user h2 {
    font-size: 12px;
    text-transform: lowercase;
    color: #555;
}

.name{
    margin: 4px;
}

.details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.interaction-icon
{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.interaction-icon li
{
    list-style: none;
    margin: 0px;
}

.interaction-icon li a
{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
}