<div class="container">
    <div class="card" >
        <div class="imgBox">
            <img src="{{photo.url || '../../../../../assets/iconUser.png'}}" alt="">
        </div>
        <div class="content">
            <div class="details">
                <h2>{{photo.AppUserId}}</h2>
                <h4>{{photo.title}}</h4>
            </div>
            <div class="interaction-icon">
                <ul class="interaction-icon">
                    <li class="fb"><a href="" ><i class="fa fa-like" aria-hidden="true"></i></a></li>
                    <li class="tw"><a href="" ><i class="fa fa-chat" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

