*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

.container
{
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    transition: 0.5s;
}

.container:hover{
   transform: scale(1.05);
}

.container:active{
    transform: scale(0.9);
}
.container .card
{
    position: relative;
    width: 230px;
    min-height: 300px;
    max-height: 320px;
    background: rgb(241, 239, 231);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.container .card .imgBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.container .card .imgBox img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(161, 161, 161, 0.1);
    box-shadow:5px 5px 10px rgba(27, 27, 27, 0.315);   
}


.container .card .imgBox .content
{
    display: block;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.details h2{
    font-size: 20px;
    color: #000;
}

.details-city{
    display: block;
    text-align: center;
}

.details-city i {
    font-size: 30px;
    color: rgb(206, 5, 5);
}
.details-city h3{
    font-size: 18px;
}

.social-icon
{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon li
{
    list-style: none;
    margin: 4px;
}

.social-icon li a
{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000006e;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.social-icon li.fb a:hover
{
    transform: rotate(360deg);
    background: #4267B2;
    color: #fff;
}

.social-icon li.tw a:hover
{
    transform: rotate(360deg);
    background: #1DA1F2;
}

.social-icon li.lk a:hover
{
    transform: rotate(360deg);
    background: #2867B2;
}

.social-icon li.in a:hover
{
    transform: rotate(360deg);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
}



