    <div class="container" >
        <div class="card" routerLink='/members/{{member.username}}'>
            <div class="imgBox">
                <img src="{{member.photoUrl || '../../../../../assets/iconUser.png'}}" alt="">
                <span [class.is-online]="(presence.onlineUsers$ | async).includes(member.username)">
                </span>
            </div>

            <div class="content">
                <div class="details">
                    <h2>{{member.knownAs}}</h2>
                </div>
                <div class="details-city">
                    <i class="fa fa-map-marker "></i>
                    <h3>{{member.city}}</h3>
                    <h3>{{member.country}}</h3>
                </div>

                <div class="social-icon">
                    <ul class="social-icon">
                        <li class="fb"><a href="" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="tw"><a href="" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="lk"><a href="" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="in"><a href="" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="follow">
            <button class="follow-btn" (click)="addFollow(member)">Follow</button>
        </div>
    </div>


