<div class="page" *ngIf="member">
    <div class="header">
    <div class="cover">
        <img src="{{member.photoCoverUrl || '../../../assets/bk.jpg'}}" alt="">
    <div class="img">
        <img src="{{member.photoUrl || '../../../../../assets/test-bk.jpg'}}" alt="{{member.knownAs}}">
    </div>
    </div>
    <div class="online" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
        <p>Online</p>
    </div>

    <div class="field">
        <div class="detail-field">
            <h3>{{member.knownAs}}</h3>
            <p><i class="fa fa-map-marker"></i> {{member.city}}, {{member.country}}</p>
            <div class="message">
                <button class="button" appMessage (click)="onActiveTab($event)"><i class="fa fa-paper-plane" >
                </i>Message </button>
            </div>
        </div>
    </div>



    </div>

     
    <div class="card-page" *ngIf="member"> 
            <tabs >

                <tab tabTitle="Photo" routerLinkActive="active">
                    <div class="tab">
                        <app-member-photo [member]="member"></app-member-photo>
                    </div>
                </tab>

            <tab tabTitle="About" routerLinkActive="active">
                <div class="summary" >
                    <h1>Summary</h1>
                    <p>{{member.introduction}}</p>
                </div>

                <div class="interests">
                    <h1>Interests</h1>
                    <p>{{member.interests}}</p>
                </div>

                <div class="social-icon">
                    <ul class="social-icon">
                        <li class="fb"><a href="" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="tw"><a href="" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="lk"><a href="" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="in"><a href="" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="last-active">
                    <h1>Last Active</h1>
                    <p>{{member.lastActive | timeago}}</p>
                    <h1>Member Since</h1>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </tab> 
            
           
               <tab class="follow-tab" tabTitle="Follows" routerLinkActive="active" > 
                  
            </tab>

            <!-- <tab class="messages-tab" tabTitle="Messages" routerLinkActive="active" >
                    <app-member-messages [username]="member.username"></app-member-messages>
            </tab> -->
            </tabs>

       </div>
<div>
    
    <div class="message-tab" appMessage (click)="onActiveTab($event)">
        <app-member-messages [username]="member.username" ></app-member-messages>
        <div class="close" appClose (click)="stopConnection()" ><span>x</span></div>
     </div>

</div>
    
</div>


  
    

