*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page
{
display: block;
justify-content:flex-start;
padding: 40px;
}

.header{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.418);
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(100px);
    box-shadow: 0px  5px 10px rgba(0,0,0, 0.4);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    padding: 10px;
    z-index: 20;
}

.header .img{
    float: left;
    width: 340px;
    height: 200px;
}

.header .img img
{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(161, 161, 161, 0.1);
    box-shadow: 0  5px  10px rgba(0,0,0,.2);
    position: absolute;
    margin: 10px;
}

.header .field{
    position: relative;
}

.header .field h3{
    font-size: 30px;
    font-weight: 600;
}

.header .field p{
    font-size: 18px;
}

.social-icon
{
    position: absolute;
    top:0;
    right: 10px;
    display: flex;
    margin-top: 5px;

}

.social-icon li
{
    list-style: none;
    margin: 4px;
}

.social-icon li a
{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #294d69;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.social-icon li.fb a:hover
{
    transform: rotate(360deg);
    background: #4267B2;
}

.social-icon li.tw a:hover
{
    transform: rotate(360deg);
    background: #1DA1F2;
}

.social-icon li.lk a:hover
{
    transform: rotate(360deg);
    background: #2867B2;
}

.social-icon li.in a:hover
{
    transform: rotate(360deg);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
}
.card
{
    display: block;
    min-width: 250px;
    min-height: 500px;
    position: relative;
    background: rgba(225,225,225, 0.1);
    border-radius: 0px 0px 0px 10px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    border-top: none;
    overflow: hidden;
    z-index: 10 ;
    margin-left: 10px;
}

.card-page{
    display: flex;
}

.card-body
{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.card-body .field-detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(231, 228, 228, 0.287);
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 5px;
}

.card-body .field-detail i{
    font-size: 30px;
    margin-right: 5px;
}

.card-body .field-detail p{
    font-size: 20px;
}


.btn-group
{
    position: absolute;
    bottom: 0;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group button
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 145px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    outline: none;
}

.btn-group button i
{
    font-size: 30px;
}

.btn-group button.follow
{
    color: #555;
    background: rgba(0, 0, 0, 0.466);
    border-right:1px solid rgba(246, 244, 244, 0.349);
}

.btn-group button.follow:hover
{
    color: rgba(255, 2, 2, 0.698);
}

.btn-group button.message
{
    color: #555;
    background: rgba(0,0,0, 0.466);
}

.btn-group button.message:hover
{
    color: rgb(22, 22, 22);
}

tabs{
    display: block;
    justify-content: center;
    margin: 0px;
    width: 100%;
    align-items: center;
    background: rgba(225,225,225, 0.1);
    padding: 15px;
    border-radius: 0px 0px 10px 0px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    margin-right: 10px;
    min-height: auto;
    border-top: none;
    z-index: 1;
}


