.content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card {
    flex-wrap: wrap;
    display: block;
    width: 320px;
    height: 320px;
    border: 1px solid rgba(5, 5, 5, 0.698);
    background: #fff;
    overflow: hidden;
}

.card .imgBox {
    width: 320px;
    height: 320px;
    position: relative;
}

.card .imgBox img 
{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}