ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-around;
    list-style: none;
    background: #fff;
    align-items: center;
    background: rgba(5, 5, 5, 0.698);
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    min-height: auto;
    cursor: pointer;
    padding: 0 200px 0 200px;
  }

 

 ul li {
    list-style: none;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
  }

  ul li.active,
  ul li:hover{
    box-shadow: 0px -5px 0 rgba(255, 255, 255, 0.842) inset;
  }

