*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page
{
display: block;
justify-content:flex-start;
padding: 40px;
}

.header{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    /* background: rgba(161, 161, 161, 0.1); */
    background: rgba(255, 255, 255, 0.418);
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(100px);
    box-shadow: 0px  5px 10px rgba(0,0,0, 0.4);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    padding: 10px;
    z-index: 20;
}

.header .img{
    float: left;
    width: 340px;
    height: 200px;
}

.header .img img
{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(161, 161, 161, 0.1);
    box-shadow: 0  5px  10px rgba(0,0,0,.2);
    position: absolute;
    margin: 10px;
}

.header .field{
    position: relative;
}

.header .field h3{
    font-size: 30px;
    font-weight: 600;
}

.header .field p{
    font-size: 18px;
}

.open{
    position: fixed;
    display: flex;
    border-style: none;
    outline: none;
    right: 10px;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 5px;
    background: coral;
    border-radius: 50%;
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}

.open:hover{
    background: #fff;
    color: #000;
}

.open:active{
    transform: scale(0.9);
}

.upload{
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(150%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
   
}

.card
{
    display: block;
    min-width: 250px;
    min-height: auto;
    position: relative;
    background: rgba(225,225,225, 0.1);
    border-radius: 0px 0px 0px 10px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    border-top: none;
    overflow: hidden;
    z-index: 10 ;
    margin-left: 10px;
}
.card-page{
    display: flex;
}

.card-body
{
    display: block;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 100%;
    padding: 20px;
}

.card-body .field
{
    display: block;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgba(231, 228, 228, 0.287);
    padding: 5px;
}

.btn-group
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group button
{
    width: 100%;
    height: 50px;
    border-style: none;
    outline: none;
}

.btn-group button.save
{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: rgb(15, 15, 15);
    background: rgba(255, 255, 255, 0.678);
    border-right:1px solid rgba(246, 244, 244, 0.349);
}

.btn-group button.save:disabled
{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #555;
    background: rgba(0, 0, 0, 0.466);
    border-right:1px solid rgba(246, 244, 244, 0.349);
}

.btn-group button.save:hover
{
    color: rgba(255, 2, 2, 0.698);
}

form{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 300px;
}

.info-card
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
    top: 0;
    height: 300px;
    position: relative;
}

.tab, .tab-albume
{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 3px;
    background: rgba(225,225,225, 0.1);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    height: 300px;
    max-height: 100vh;
}

.tab h3
{
    color: #fff;
    margin: 0 auto;
    letter-spacing: 2px;
    width: 200px;
    font-size: 30px;
    border-bottom: 2px solid rgba(231, 228, 228, 0.287) ;
}

.tab p
{
    color: rgb(17, 17, 17);
    font-size: 20px;
}

.tab textarea
{
    height: 150px;
    width: 100%;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background: rgba(225,225,225, 0.1);
    padding: 15px;
    outline: none;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    overflow-y: hidden;
}

.tab label{
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
    width: 100%;
    font-size: 20px;
    border-bottom: 2px solid rgba(231, 228, 228, 0.287);
}

.tab input{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background: rgba(225,225,225, 0.1);
    padding: 15px;
    outline: none;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
}

.albume{
    display: block;
    width:100%;
    margin-left: 10px;
}

.tab-albume{
    width: 100%;
}


tabs{
    display: block;
    justify-content: center;
    margin: 0px;
    width: 100%;
    align-items: center;
    background: rgba(225,225,225, 0.1);
    padding: 15px;
    border-radius: 0px 0px 10px 0px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    margin-right: 10px;
    min-height: auto;
    border-top: none;
    z-index: 1;
}

tab {
    margin: 10px;
}