*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page
{
display: block;
justify-content:flex-start;
}

.header{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0px  5px 10px rgba(0,0,0, 0.4);
    z-index: 20;
}



.header .img{
    position: absolute;
    width: 230px;
    height: 230px;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.header .img img
{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(161, 161, 161, 0.1);
    box-shadow: 0  5px  10px rgba(0,0,0,.2);
    position: absolute;
}

.header .field{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    
}

.header .field h3{
    font-size: 30px;
    font-weight: 600;
}

.header .field p{
    font-size: 18px;
}

.detail-field{
    text-align: center;
}

.detail-field i {
    font-size: 30px;
    color: rgb(206, 5, 5);
}

.cover{
    position: relative;
    margin-top: 2.5%;
    z-index: -1000;
    width: 100%;
    height: 500px;
}

.cover img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.social-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}

.social-icon li
{
    list-style: none;
    margin: 4px;
}

.social-icon li a
{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #294d69;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.social-icon li.fb a:hover
{
    transform: rotate(360deg);
    background: #4267B2;
}

.social-icon li.tw a:hover
{
    transform: rotate(360deg);
    background: #1DA1F2;
}

.social-icon li.lk a:hover
{
    transform: rotate(360deg);
    background: #2867B2;
}

.social-icon li.in a:hover
{
    transform: rotate(360deg);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;

}
.save{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    color: seashell;
    background-color: rgba(192, 0, 0, 0.644);
    backdrop-filter: blur(20px);
    border: 3px solid rgb(228, 224, 224);
    border-radius: 10px;
}

.save:disabled{
    color: #555;
    background: rgba(0,0,0, 0.1);
    backdrop-filter: blur(20px);
    border: 3px solid #555;
    border-radius: 10px;
}

.save:active{
    color: rgb(192, 0, 0);

}

.card-page{
    display: flex;
}

.format-line{
    display: block;
}

tabs{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    width: 100%;
    align-items: center;
    background: rgba(225,225,225, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: rgba(0,0,0, 0.1);
    min-height: 430px;
    border-top: none;
    z-index: 1;
}

form{
    flex-wrap: wrap;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.summary{
    width: 60%;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}

.interests{
    width: 60%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

.last-active{
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}
.location-detail{
    width: 58%; 
    display: block;
    text-align: center;
}

.location-detail .loc-det-form{
    display: block;
}

.tab textarea, input{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    font-size: 15px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.tab textarea:focus, input:focus {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(30px);
    border: 1px solid #1DA1F2;
    height: 100px;
}
.follow-tab{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: transparent;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    margin-top: 5px;
}

.button .follow-btn{
    width: 100%;
    height: 40px;
    margin: 4px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.follow-btn:active{
transform: scale(0.9);
}

.member-list{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.member-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 50px;    
    flex-wrap: wrap;
}

.container-member{
    width: 100%;
    flex: 0 1 10%;
    margin: 0;
}