  <div class="upload">
    <div class="case">

    
    <div class="upload-drag">
        <label for="title">What are you thinking?</label>
        <div class="desc">
            <div class="form-div">
                <form [formGroup]="titleGroup" class="form">
                    <textarea type="text" name="title" formControlName='title' cols="30" rows="10" ></textarea>
                </form>
            </div>
        </div>

         <div class="select-file">
            <div class="select-btn">
                <input type="file" ng2FileSelect [uploader]="uploader" multiple class="inputfile" id="file" />
                <label for="file"><i class="fa fa-upload"></i>Choose a file</label>
            </div>
         </div>

    <div class="photo-preview">
        <div class="imgFrame">

       <div ng2FileDrop
            *ngIf="!imageSrc"
            [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="drop-zone">
            <div class="middle-drop">
               <i class="fa fa-upload"></i>
               <p>Drop photos here!</p>
            </div>
       </div>

        <table class="table">
            <tbody class="tbody">
            <tr *ngFor="let item of uploader.queue" class="tr-info">
                <td *ngIf="uploader.options.isHTML5">
                        <img [src]="sanitizer.bypassSecurityTrustUrl(imageSrc)" class="imgPre">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    </div>
    



    <div class="upload-queue">

        <div class="upload-queue-order">
            <!-- <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p> -->
            <button type="button" class="btn-success"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload
            </button>
            <button type="button" class="btn-warning"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-times-circle-o"></span> Cancel
            </button>
            <button type="button" class="btn-danger"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove
            </button>
        </div>

    </div>

    </div>
</div>
  </div>