*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.upload{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
}


.photo-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.imgFrame{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 500px;
}

.imgPre{
    width: 700px;
    height: 500px;
    object-fit:scale-down;
}

.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

label{
    font-size: 15px;
    color: rgb(161, 161, 161);
}

.desc .form-div{
    margin-top: 10px;
    width: 50%;
}
form{
    width: 100%;
}

form textarea{
    width: 100%;
    height: 50px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px    ;
    resize: none;
}

textarea:focus{
    border:2px solid violet;
}

.upload-drag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
    margin-top: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.drop-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:90%;
    height: 180px;
    border: 4px dotted #fff;
    margin-bottom: 5px;
}

.select-file{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.nv-file-over{
    border: 3px dotted red;
}

.middle-drop{
display: block;
justify-content: center;
align-items: center;
}

.middle-drop i {
font-size: 50px;
}

.select-btn{
    display: block;
    text-align: center;
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgba(253, 0, 0, 0.623);
    border-radius: 10px;

}

.inputfile + label:hover{
    background-color: rgba(255, 0, 0, 0.89);
}

.inputfile + label:active{
    transform: scale(0.9);
}

.upload-queue{
    display: block;
    position: absolute;
    bottom: 40px;
    text-align: center;
    
}

.upload-queue-order{
    display: block;
}

button{
    width: 80px;
    height: 40px;
    padding: 2px;
    font-size: 15px;
    font-weight: 600;
    border-style: none;
    outline: none;
    border-radius: 10px;
    margin: 4px;
    color: #fff;
}

.progress{
    width: 20px;
    background-color: rgba(255, 255, 255, 0.253);
    position: relative;
    border-radius: 7px;

}

.progress .progress-bar {
    position: absolute;
    height: 100%;
    border-radius: 7px;
    background-color: violet;
    animation: progress-animation 5s forwards;
}

button:disabled{
    background: rgba(85, 85, 85, 0.418);
}

button:active{
    transform: scale(0.9);
}

.btn-success{
    background: rgba(0, 139, 0, 0.602);
}

.btn-warning{
    background: rgba(194, 194, 0, 0.712);
}

.btn-danger{
    background: rgb(204, 2, 2);
}