.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.posts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
}
.upload{
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(70%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.upload.active{
    visibility: visible;
}

.open{
    position: fixed;
    display: flex;
    border-style: none;
    outline: none;
    right: 10px;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 5px;
    background: coral;
    border-radius: 50%;
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    transition: 300ms linear all;
}

.open:hover{
    background: #fff;
    color: #000;
}

.open:active{
    transform: scale(0.9);
}

.open.active{
    transition: 300ms linear all;
    background: rgb(149, 1, 1);
    transform: rotate(45deg);
}
.upload a {
    font-size: 60px;
    text-decoration: none;
    color: #fff;
}