
<div class="page">
<div class="posts" *ngFor="let photo of photos">
    <app-post [photo]= "photo"></app-post>
</div>
</div>
<button class="open" (click)="onOpen()">+</button>
<app-upload class="upload" *ngIf="isOpen != false"></app-upload>

<div class="page" *ngIf="pagination">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;"
    lastText="&raquo;">
    </pagination>
</div>

