*{
box-sizing: border-box;
margin: 0%;
padding: 0%;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;

}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(98, 98, 98, 0.856); 
    margin-top: 2.6%;
    padding: 0;
    width: 100%;
    height: 95%;
}

.image-view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 80px;
    width: 80%;
    height: 100%;
}

.image-view img{
    width: 100%;
    height: 100%;
    background: black;
    object-fit:scale-down;
}

.detail{
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    background: rgba(19, 18, 18, 0.863);
    height: 100%;
    
}

.detail .user-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
}

.detail .user-detail img{
    width: 60px;
    height: 60px;
    object-fit:cover;
    border-radius: 50%;
    
}

.username{
    width: 100%;
    margin-left: 5px;
}

.username h1{
    color: rgb(204, 204, 204);
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.username h2{
    color: rgb(114, 114, 114);
    font-size: 12px;
    text-transform: lowercase;
}

.title{
    margin-left: 10px;
    margin-top: 10px;
}

.title p{
    font-size: 20px;
    color: rgb(204, 204, 204);
}

.close-btn{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    top: 70px;
    width: 50px;
    height: 40px;
    font-size: 30px;
    margin-right: 10px;
    font-weight: 800;
    outline: none;
    border: none;
    color: white;
    background: transparent;
}