<div class="page" *ngIf="photo">
    <div class="container">
        <div class="image-view">
            <img src="{{photo.url}}" alt="{{photo.photoId}}">
        </div>
        <div class="detail">
            <div class="user-detail">
                <div class="img">
                    <img src="{{photo.appUser.photoUrl}}" alt="" routerLink='/members/{{photo.appUser.username}}'>
                </div>
                <div class="username">
                    <h1>{{photo.appUser.username}}</h1>
                    <h2>{{photo.created | date}}</h2>
                </div>
                <button class="close-btn" (click)="back()">X</button>
            </div>
            <div class="title">
                <p>{{photo.title}}</p>
            </div>
            <div class="comments">
            </div>
            <div class="comment-section" [member]="member" *ngIf="member">
                <img src="{{member.photoUrl}}" alt="">
                <form #commentForm="ngForm" id="commentForm" (ngSubmit)="addComment()">
                        <input [(ngModel)]="comment.message" name="message" type="text" placeholder="Comment section!">
                        <button [disabled]="!commentForm.dirty" form="commentForm" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</div>
