*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    z-index: 0;
} 

body{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0px 115px 0 115px;
    width: 100%;
    flex-wrap: wrap;
    background: transparent;
}

.container 
{
    position: relative;
    width: 240px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}