<header class="main-header" *ngIf="accountService.currentUser$| async">
    <div>
        <a href="" class="nav-brand">MTS</a>
    </div>
    <div class="home-link">
        <a href="">Home</a>
    </div>
    <nav class="main-nav">
        <div class="dropdown">
            <a href="" class="dropbtn"><img src="../../assets/iconUser.png" alt=""></a>
            <div class="dropdown-menu">
                <a href="">Edit Profile</a>
                <a href=""(click)="logout()">Logout</a>
            </div>

        </div>

    </nav>
</header>

