<nav class="main-nav">
<div class="main-header">
    <div>
        <img src="../../assets/MT.png" alt="" class="brand-img" routerLink='/home'>
    </div>
    <div class="links">
        <div class="home-link" *ngIf="accountService.currentUser$| async">
            <a routerLink='/home' routerLinkActive="active" >Home</a>
        </div>
        <div class="home-link" *ngIf="accountService.currentUser$| async">
            <a routerLink='/members' routerLinkActive="active" >Members</a>
        </div>
    </div>
</div>

<div class="interaction">
    <div class="upload">
        <a routerLink="/upload"><img src="../../assets/cloud-computing.png" alt="">Upload</a>
    </div>
    <div class="action" *ngIf="(accountService.currentUser$ | async) as user">
        <div class="profile" appDropdown>
            <img src="{{user.photoUrl}}" alt="">
        </div>
            <div class="menu" >
                <h3>{{user.knownAs}}</h3>
                <ul>
                    <li><img src="../../assets/user (1).png" alt=""><a routerLink='/member/edit'>My Profile</a></li>
                    <li><img src="../../assets/mail-inbox-app.png" alt=""><a>Inbox</a></li>
                    <li><img src="..//../assets/exit.png" alt="" (click)="logout()"><a (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>

    </div>
        
</nav>

