.scroll-to-top {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all .2s ease-in-out;
   }
.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }

   button{
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       outline: none;
       border: 3px solid rgb(111, 99, 218);
       background: rgb(255, 255, 255);
       z-index: 1010;
       box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
   }

   button:active{
       transition: 0.2s;
       transform: scale(0.90);
   }