.scroll-to-top {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all .2s ease-in-out;
   }
.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }

   button{
       position: relative;
       width: 150px;
       height: 50px;
       border-radius: 10px;
       outline: none;
       border: none;
       background: rgba(200, 0, 0, 0.835);
       z-index: 1010;
       box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
   }

   button:active{
       transition: 0.2s;
       transform: scale(0.90);
   }