*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.imgBox{
    background: #000;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-right: 5px;
}
.imgBox img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.buttons{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.buttons button{
    background: rgba(225,225,225, 0.1);
    outline: none;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0,0,0, 0.1);
    border: 1px solid rgba(225,225,225, 0.3);
    border-right: 1px solid rgba(225,225,225, 0.2);
    border-bottom: 1px solid rgba(225,225,225, 0.2);
    font-weight: 550;
    font-size: 15px;
    height: 40px;
    text-align: center;
    margin-right: 2px; 
}

.buttons button:active{
    transform: scale(0.96);
}

.buttons .set-main{
    width: 80%;
}

.buttons .set-main:hover{
    background: rgba(220, 133, 20, 0.534);
}

.buttons .set-main:disabled{
    background-color: #555;
}

.buttons .set-main.active{
    background-color: coral;
}

.buttons .trash{
    width: 20%;
}

.buttons .trash:hover{
    background: rgba(236, 76, 76, 0.691);
}

.upload{
    display: flex;
    justify-content: flex-start;
    align-items:baseline;
    background: chartreuse;
    margin-top: 10px;
    border-radius: 10px;
    padding: 8px;
}

.upload-drag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drop-zone{
    width:100px;
    height: 100px;
    border: 2px dotted #fff;
}

.drop-zone .select-file{
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-btn{
    display: block;
    text-align: center;
}

.select-btn label{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.select-btn input{
   display: block;
   color: #000;
}

.select-btn input#file-upload-button{
    width: 50px;
    background: #fff;
}

.upload-queue{
    width: 100%;
}

.upload-queue .table{
    display: block;
    margin: 8px;
}

 th{
    margin: 10px;
}